<div class="container-fluid p-0 m-0">

    <div class="row bg-warning p-0 m-0">

        <div class="col-md-12">

            <h1 class="mt-4 mb-4 text-center fonte-titulo fs-50">
                Olá, artista! <p>Seja bem-vindx!</p></h1>

            <div class="container mb-5">
                <h5 class="fs-19 text-center fonte-texto">
                    Neste espaço, você consegue visualizar todas as categorias de produtos
                    cadastradas, além de editar informações sobre elas e acrescentar novas opções.
                </h5>
            </div>

        </div>
    </div>
</div>


<div class="container-fluid p-0" id="fundo">
  <div class="row d-flex align-items-center mx-0 p-0 m-0">
    <div class="col-md-6">

      <div class="row d-flex justify-content-center p-0 m-0">
        <div class="col-md-10">

          <h1 class="text-center mb-5 mt-4 text-warning titulo fs-24">Categorias</h1>

          <div class="row d-flex justify-content-center p-0 m-0">
                <h5 class="fs-18 text-center fonte-texto text-white">
                    Veja aqui todas as categorias já cadastradas e/ou cadastre uma nova:
                </h5>
                <div class="col-md-0 mt-3">
                    <div class="form-group fonte-texto text-warning">
                        <label>Categoria</label>
                        <input [(ngModel)]='categoria.tipoProduto' type="text" class="form-control" id="tipoProduto"
                            placeholder="Ex.: Camiseta">
                    </div>

                    <div class="form-group fonte-texto text-warning">
                        <label for="descricaoCategoria">Descrição</label>
                        <textarea [(ngModel)]='categoria.descricaoCategoria' class="form-control inline"
                            name="descricaoCategoria" id="descricaoCategoria" rows="3">
                        </textarea>
                    </div>
                </div>
            </div>
            <div class="row d-flex justify-content-center p-0 m-0">
                <button (click)='cadastrarCategoria()' class="btn btn-amarelo-cadastrar mr-4">
                    Cadastrar
                </button>
                <button type="submit" class="btn btn-laranja-cancelar text-dark ml-4" routerLink='/inicio'>
                Cancelar
              </button>
            </div>
        <div class="row d-flex justify-content-center mt-5 text-white p-0 m-0">
        <div class="mb-4 mt-2 text-warning titulo fs-24">
            <h2>Todas as categorias:</h2>
        </div>
        </div>
        <div class="row mt-3 mb-4 d-flex justify-content-center fonte-texto p-0 m-0">
        <div class="col-md-0">
            <div class="table">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col" class="text-warning text-center">Opções</th>
                            <th scope="col" class="text-warning text-center">Código</th>
                            <th scope="col" class="text-warning text-center">Categoria</th>
                            <th scope="col" class="text-warning text-center">Descrição</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor='let categoria of listaCategoria'>
                            <td>
                                <a [routerLink]="['/apagar-categoria',categoria.idCategoria]">
                                    <i class="fa fa-trash-o pl-3 text-white fs-14" aria-hidden="true"></i>
                                </a>

                                <a [routerLink]="['/edit-categoria',categoria.idCategoria]">
                                    <i class="fa fa-pencil-square-o pl-3 text-white fs-14" aria-hidden="true"></i>
                                </a>
                            </td>
                            <th class="text-center text-white" scope="row">{{categoria.idCategoria}}</th>
                            <td class="text-white">{{categoria.tipoProduto}}</td>
                            <td class="text-white">{{categoria.descricaoCategoria}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        </div>
        </div>
      </div>

        </div>

        <div class="col-md-6" id="editar"></div>

  </div>

</div>


<!-- <div class="container-fluid">

    <div class="row d-flex align-items-center mt-5">
        <div class="fs-16 text-center fonte-titulo">
            <h2>Categorias:</h2>
        </div>
    </div>


    <div class="row d-flex justify-content-center mt-4 mb-5" >
        <div class="col-md-12">
            <div class="row d-flex justify-content-center">
                <h5 class="fs-18 text-center fonte-texto">
                    Veja aqui todas as categorias já cadastradas e/ou cadastre uma nova:
                </h5>

                <div class="col-md-6 mt-3">
                    <div class="form-group fonte-texto">
                        <label>Categoria</label>
                        <input [(ngModel)]='categoria.tipoProduto' type="text" class="form-control" id="tipoProduto"
                            placeholder="Ex: Camiseta">
                    </div>

                    <div class="form-group fonte-texto">
                        <label for="descricaoCategoria">Descrição</label>
                        <textarea [(ngModel)]='categoria.descricaoCategoria' class="form-control"
                            name="descricaoCategoria" id="descricaoCategoria" rows="3">
                        </textarea>
                    </div>
                </div>

            </div>

            <div class="row d-flex justify-content-center">
                <button (click)='cadastrarCategoria()' class="btn btn-warning fonte-texto">
                    Cadastrar
                </button>
            </div>


        </div>

    </div>

    <div class="row mt-5">
        <div class="fs-16 text-center fonte-titulo">
            <h2>Todas as categorias:</h2>
        </div>
    </div>

    <div class="row mt-3 mb-5 d-flex justify-content-center fonte-texto">
        <div class="col-md-6">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Opções</th>
                            <th scope="col">Cód. de cadastro</th>
                            <th scope="col">Categoria</th>
                            <th scope="col">Descrição</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor='let categoria of listaCategoria'>
                            <td>
                                <a [routerLink]="['/apagar-categoria',categoria.idCategoria]">
                                    <i class="fa fa-trash-o pl-3 text-dark fs-14" aria-hidden="true"></i>
                                </a>

                                <a [routerLink]="['/edit-categoria',categoria.idCategoria]">
                                    <i class="fa fa-pencil-square-o pl-3 text-dark fs-14" aria-hidden="true"></i>
                                </a>
                            </td>
                            <th class="text-center" scope="row">{{categoria.idCategoria}}</th>
                            <td>{{categoria.tipoProduto}}</td>
                            <td>{{categoria.descricaoCategoria}}</td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        

    <!-- </div>

</div> -->