<div class="container-fluid p-0 m-0" id="fundo">
  <div class="row d-flex align-items-center p-0 m-0">
    <div class="col-md-6">

      <div class="row d-flex justify-content-center p-0 m-0">
        <div class="col-md-10">

          <h1 class="text-center mb-5 mt-2 text-warning titulo fs-24 titulo">Atualizar categoria</h1>

          <div class="form-group text-warning texto">
            <label for="usuario">Categoria</label>
            <input [(ngModel)]='categoria.tipoProduto' type="text" class="form-control" id="tipoProduto"
                placeholder="Ex: Camiseta">
          </div>

          <div class="form-group text-warning texto">
            <label for="descricaoCategoria" >Descrição</label>
                <textarea [(ngModel)]='categoria.descricaoCategoria' class="form-control"
                    name="descricaoCategoria" id="descricaoCategoria" rows="3">
                    </textarea>
                </div>
          
            <div class="row d-flex justify-content-center p-0 m-0">
                 <button class="btn btn-amarelo-atualizar mr-4" (click)='atualizar()'>Atualizar</button>
                <button class="btn btn-laranja-cancelar" routerLink='/categoria'>Cancelar</button>
               
            </div>

        </div>
      </div>

    </div>

    <div class="col-md-6" id="editar"></div>

  </div>

</div>
