<div class="container-fluid">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-6">
                <h1 class="text-center">Fale conosco</h1>
                <form>

                    <div class="form-group">
                        <label for="exampleInputEmail1">Nome:</label>
                        <input type="text" class="form-control" id="nome" aria-describedby="emailHelp" placeholder="Entre com nome">
                      </div>

                    <div class="form-group">
                      <label for="exampleInputEmail1">Email:</label>
                      <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Entre com email">
                    </div>

                    <div class="form-group">
                        <label for="exampleFormControlSelect1"> Assunto:</label>
                        <select class="form-control" id="assunto">
                          <option>Escolha uma opção</option>
                          <option>Elogio</option>
                          <option>Dúvida</option>
                          <option>Troca</option>
                          <option>Pedido</option>
                          <option>Reclamação</option>
                          <option>Outros</option>
                        </select>
                      </div>

                      <div class="form-group">
                        <label for="exampleInputPassword1">Comentário:</label>
                        <input type="text" class="form-control" id="comentario" placeholder="Entre com o comentário">
                      </div>

                    <button type="submit" class="btn btn-primary mb-2">Enviar</button>
                  </form>
            </div>
        </div>
        
    </div>
    
</div>
