.btn-amarelo-cadastrar {
  background-color:#E8B80E;
}

.btn-amarelo-cadastrar:hover {
  background-color:#E8DD0C;

}

.btn-laranja-cancelar {
  background-color: #FF6525;
  
}

.btn-laranja-cancelar:hover {
  background-color:#F27649;
  
}
