.btn-amarelo-cadastrar {
  background-color:#E8B80E;
}

.btn-amarelo-cadastrar:hover {
  background-color:#E8DD0C;

}

.btn-laranja-cancelar {
  background-color: #FF6525;
  
}

.btn-laranja-cancelar:hover {
  background-color:#F27649;
  
}

#planofundo {
  background-image: url("/assets/img/maopincel12test.png");
  background-color: palegoldenrod;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  margin: 0;
  width: 100%;
  height: max-content;
  align-self: top;
}