<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#"><img src="https://i.pinimg.com/236x/21/7a/6a/217a6a2966888db20c850524b9c5ac82.jpg" class="img-fluid rounded-circle borda" width="60px" height="60px" alt=""></a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown"
    aria-expanded="false"
    aria-label="Alterna navegação"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#"
          >Olá, FULANA</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Meus Pedidos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Fale Conosco</a>
      </li>
      
    </ul>
  </div>
</nav>

<div class="container-fluid">
  <div class="row bg-dark d-flex align-items-center">
    <div class="col-md-6 d-flex">
      <div class="row d-flex justify-content-center text-white ml-5">
        <h1 class="fs-54">Seja bem-vindo(a)!</h1>
        <h5 class="fs-19">Conheça nossos produtos: ColaborArt-se!</h5>
          <div class="row">
        <button class="btn btn-warning mt-4 mr-4">Ver Produto</button>
         <button class="btn btn-warning mt-4" data-toggle="modal" data-target="#novoProduto">Novo Produto</button>
    </div>
      </div>
    </div>
    
    <div class="col-md-6 d-flex justify-content-center">
       <img 
        src="https://i.imgur.com/SMArFIP.gif"
        alt=""
        width="500px"
        height="500px"
      />
      <!-- <video width="500px" height="500px" autoplay loop>
        <source src="https://i.imgur.com/5L18w1V.mp4" type="video/mp4">
    </video> -->
  </div>
</div>
<div class="container mb-5 mt-5" id="postagens">
  <nav>
    <div
      class="nav nav-tabs d-flex justify-content-center"
      id="nav-tab"
      role="tablist"
    >
      <a
        class="nav-item nav-link active text-secondary font-weight-bold"
        id="nav-todasPostagens-tab"
        data-toggle="tab"
        href="#todasPostagens"
        role="tab"
        aria-controls="nav-todasPostagens"
        aria-selected="true"
        >Todas as Postagens</a>
      <a
        class="nav-item nav-link text-secondary font-weight-bold"
        id="nav-minhasPostagens-tab"
        data-toggle="tab"
        href="#minhasPostagens"
        role="tab"
        aria-controls="nav-minhasPostagens"
        aria-selected="false"
        >Produtos por ONG's/Artistas</a
      >
      <a
        class="nav-item nav-link text-secondary font-weight-bold"
        id="nav-postagensTema-tab"
        data-toggle="tab"
        href="#postagensTema"
        role="tab"
        aria-controls="nav-postagensTema"
        aria-selected="false"
        >Produtos por Categoria</a>
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <div
      class="tab-pane fade show active"
      id="todasPostagens"
      role="tabpanel"
      aria-labelledby="nav-todasPostagens-tab"
    >
      Todas as Postagens
    </div>
    <div
      class="tab-pane fade"
      id="minhasPostagens"
      role="tabpanel"
      aria-labelledby="nav-minhasPostagens-tab"
    >
      Minhas Postagens
    </div>
    <div
      class="tab-pane fade"
      id="nav-postagensTema"
      role="tabpanel"
      aria-labelledby="nav-postagensTema-tab"
    >
      Postagens por Tema
    </div>
  </div>
</div>
<!-- Modal -->
<div
  class="modal fade"
  id="novoProduto"
  tabindex="-1"
  role="dialog"
  aria-labelledby="TituloModalCentralizado"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="TituloModalCentralizado">Adicionar Produtos</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Fechar"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="titulo">Nome</label>
          <input
            type="text"
            class="form-control"
            id="titulo"
            placeholder="Digite o título"
          />
        </div>
        <div class="form-group">
          <label for="titulo">Descrição</label>
          <textarea
            class="form-control"
            name="texto"
            id="texto"
            rows="3"
          ></textarea>
        </div>
        <div class="form-group">
          <label for="titulo"
            >Escolha um categoria ou
            <a data-dismiss="modal" routerLink="/categoria">cadastre uma nova</a>:
          </label>
          <select name="tema" id="tema" class="form-control">
            <option value="">Categorias</option>
          </select>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">
          Cancelar
        </button>
        <button type="button" class="btn btn-success">Adicionar</button>
      </div>
    </div>
  </div>
</div>


