.fs-54 {
    font-size: 52pt;
}

.fs-19 {
    font-size: 19pt;
}

.fs-12 {
    font-size: 12pt;
}

.borda {
     border: 2px solid white;
}

.espaco {
    letter-spacing: 0.1em;
}

.modal-lg {
    width: 550px;
}

#fundo-modal {
    background-image: url("../../assets/img/testeCad.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 700px;
}

.mr-3 {
    margin-right: 3em;
}



