
.fs-54 {
    font-size: 52pt;
}


.fs-15 {
    font-size: 15pt;
}

.fs-17 {
    font-size: 17pt;
}

.fs-19 {
    font-size: 19pt;
}

.fs-12 {
    font-size: 12pt;
}

.borda {
     border: 2px solid white;
}

.espaco {
    letter-spacing: 0.1em;
}

.modal-lg {
    width: 550px;
}

#fundo-modal {
    background-image: url("../../assets/img/testeCad.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 700px;
}

.mr-3 {
    margin-right: 3em;
}

.fonte-titulo {
    Font-Family: 'Permanent Marker', Cursive;
    Font-Size: 75px;
}

.fonte-texto {
    Font-Family: 'Overpass', Sans-Serif;
}

.btn-amarelo-adicionar {
  background-color:#E8B80E;
}

.btn-amarelo-adicionar:hover {
  background-color:#E8DD0C;

}

.btn-laranja-cancelar {
  background-color: #FF6525;
  
}

.btn-laranja-cancelar:hover {
  background-color:#F27649;
  
}

.bg-produto {
    background-color: gold;
  }