<div class="container-fluid">
  <div class="row">
    <div class="col-md-6" id="">

    </div>
    <div class="col-md-6 mb-5 mt-5">
      <div class="row d-flex justify-content-center">
        <div class="col-md-10">
          <h1 class="text-center">Cadastro</h1>

          <form>
            <div class="form-group">
              <label for="nome">Nome:</label>
              <input [(ngModel)]='user.nomeCompleto' type="text" class="form-control" id="nomeCompleto" name="nomeCompleto" placeholder="Nome Completo">
            </div>

            <div class="form-group">
              <label for="email">Email:</label>
              <input [(ngModel)]='user.email' type="text" class="form-control" id="email" name="email" placeholder="Email">
            </div>

            <div class="form-group">
              <label for="senha">Senha:</label>
              <input (input)='confirmSenha($event)' type="password" class="form-control" id="senha" name="senha" placeholder="Senha">
            </div>

            <div class="form-group">
              <label for="confirmSenha">Confirme sua senha:</label>
              <input [(ngModel)]='user.senha' type="password" class="form-control" id="confirmSenha" name="confirmSenha" placeholder="Confirme sua senha">
            </div>

            <div class="form-group">
              <label for="cpf">CPF:</label>
              <input [(ngModel)]='user.cpf' type="text" class="form-control" id="cpf" name="cpf" placeholder="CPF(ex : xxx.xxx.xxx-xx)">
            </div>

            <div class="form-group">
              <label for="numero">CEP:</label>
              <input [(ngModel)]='user.cep' type="number" class="form-control" id="cep" name="cep" placeholder="CEP(12345678)">
            </div>


            <div class="form-group">
              <label for="foto">Foto do Usuário</label>
              <input [(ngModel)]='user.foto' type="text" class="form-control" id="foto" name="foto" placeholder="Link foto do usuário">
            </div>

            <div class="form-group">
              <label for="tipo">Tipo de Usuário:</label>
              <select class="form-control" name="tipo" id="tipo" (change)='tipoUser($event)'>
                <option>Selecione um tipo de usuário:</option>

                <option value="cliente">Cliente</option>

                <option value="artista">Artista</option>
              </select>
            </div>

            <div class="d-flex justify-content-center">

              <button type="submit" class="btn btn-laranja btn-outline-dark " (click)='cadastrar()'>Cadastrar</button>
              <button type="submit" class="btn btn-secondary btn-outline-dark text-light ml-4" routerLink='/inicio'>
                Cancelar
              </button>
            </div>

          </form>



        </div>
      </div>
    </div>
  </div>
</div>