<!-- Navbar -->
<div class="container-fluid p-0">
    <nav id="navbar" class="navbar navbar-expand-lg navbar-light py-2 pr-5 pl-5 fixed-top ">

        <a class="navbar-brand" href="#">
            <img class="m-2" src="../../assets/img/colaborart.png" alt="ColaborArt" width="130px" routerLink="/home">
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto d-flex align-items-center">

                <li id="artistas" class="nav-item active mr-2">
                    <a class="nav-link" href="#artista" routerLink="/home/artistas">Artistas</a>
                </li>

                <li id="ongs" class="nav-item active mr-2">
                    <a class="nav-link" href="#ong" routerLink="/home/ongs">ONGs</a>
                </li>

                <li id="produtos" class="nav-item active mr-2">
                    <a class="nav-link" href="#produto" routerLink="/produtos">Produtos</a>
                </li>

                <li id="sobre-nos" class="nav-item active mr-2">
                    <a class="nav-link" href="#nos" routerLink="/quem-somos">Quem Somos</a>
                </li>

                <li id="contato" class="nav-item active mr-2">
                    <a class="nav-link" data-toggle="modal" data-target="#ExemploModalCentralizado2">Contato<span class="sr-only">(current)</span></a>
                </li>

            </ul>

            <!-- Botão para acionar modal -->
            <ul class="navbar-nav d-flex align-items-right fs-20">
                <li id="usuario" class="nav-item active ml-4">
                    <a data-toggle="modal" data-target="#ExemploModalCentralizado">
                        <i class="fa fa-user-circle-o text-dark" aria-hidden="true"></i>
                    </a>
                </li>
                <!-- Botão para acionar modal -->
                <li id="carrinho-compras" class="nav-item active ml-3">
                    <a routerLink="/entrar">
                        <i class="fa fa-shopping-cart text-dark" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>

        </div>
    </nav>
</div>
<!-- Navbar -->


<!-- Modal -->
<div class="modal fade" id="ExemploModalCentralizado" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">

        <div class="modal-content" id="entrar-modal">
            <div class="modal-header">
                <h5 class="modal-title" id="TituloModalCentralizado">Entrar</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="usuario">Email:</label>
                    <input [(ngModel)]='userLogin.email' class="form-control" type="text" name="usuario" id="usuario" placeholder="Digite seu email">

                </div>
                <div class="form-group">
                    <label for="senha">Senha:</label>
                    <input [(ngModel)]='userLogin.senha' class="form-control" type="password" name="senha" id="senha" placeholder="Digite sua senha">
                </div>

                <div class="form-group">
                    <p class="text-center">Não tem uma conta?
                        <a routerLink="/cadastrar" data-dismiss="modal">Cadastre-se</a>
                    </p>
                </div>

            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button type="button" class="btn btn-danger mr-3" data-dismiss="modal">Fechar</button>

                <button (click)='entrar()' type="submit" class="btn btn-success" data-dismiss="modal">Entrar</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->

<!-- Modal -->
<div class="modal fade" id="ExemploModalCentralizado2" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">

        <div class="modal-content" id="entrar-modal">
            <div class="modal-header">
                <h5 class="modal-title" id="TituloModalCentralizado">Entre em contato conosco</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="usuario">Nome</label>
                    <input class="form-control" type="text" name="usuario" id="usuario" placeholder="Digite seu nome ">

                </div>

                <div class="form-group">
                    <label for="email">Email:</label>
                    <input class="form-control" type="text" name="email" id="email" placeholder="Digite seu email">

                </div>

                <div class="form-group">
                    <label for="exampleFormControlSelect1"> Assunto:</label>
                    <select class="form-control" id="assunto">
                        <option>Escolha uma opção</option>
                        <option>Elogio</option>
                        <option>Dúvida</option>
                        <option>Troca</option>
                        <option>Pedido</option>
                        <option>Reclamação</option>
                        <option>Outros</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="exampleInputPassword1">Comentário/Sugestao:</label>
                    <textarea class="form-control" name="texto" id="texto" rows="4"></textarea>

                </div>




            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button (click)='atualizar()' type="submit" class="btn btn-success" data-dismiss="modal">Enviar</button>

                <button type="button" class="btn btn-danger mr-3" data-dismiss="modal">Fechar</button>


            </div>
        </div>
    </div>
</div>
<!-- Modal -->