.nav-link{
    text-shadow: 2px 2px 4px #000000; 
    text-transform: uppercase;
    font-size: 16pt;
}

#contato{
    font-weight: bold;
}

#sobre-nos{
    font-weight: bold;
}


#entrar{
    font-weight: bold;
}


#produtos{
    font-weight: bold;
}

#ongs{
    font-weight: bold;
}

#artistas{
    font-weight: bold;
}

#usuario{
    font-weight: bold;
}

.fs-16{
    font-size: 16pt;
}

