.nav-link {
  /* text-shadow: 2px 2px 4px #000000;  */
  text-transform: uppercase;
  font-size: 18pt;
}

#navbar {
  background-image: url("../../assets/img/navBar.png");
}

#contato {
  font-weight: bold;
}

#sobre-nos {
  font-weight: bold;
}

#entrar {
  font-weight: bold;
}

#produtos {
  font-weight: bold;
}

#ongs {
  font-weight: bold;
}

#artistas {
  font-weight: bold;
}

.nav-item:hover {
  font-weight: bold;
  opacity: 0.5;
  transform: scale(1.1);
  text-decoration: underline;
}

.navbar-brand :hover {
  font-size: 28;
  font-weight: bold;
  transform: scale(1.2);
}

.fs-20 {
  font-size: 20pt;
}

#entrar-modal {
  background-image: url("../../assets/img/testeCad.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: max-content;
}

a {
  /* font-family: 'Permanent Marker', Cursive; */
  font-family: "Overpass", Sans-Serif;
}


.btn-amarelo {
  background-color: #f2e30c;
}

.btn-amarelo:hover {
  background-color: #f28b0c;
  color: rgb(14, 12, 12); /* cor do texto */
  font-weight: bold;
}

/* .btn-amarelo {
  background-color: #F2E30C;
} */

/* .btn-amarelo:hover {
  background-color: #F28B0C;
  color: rgb(14, 12, 12); cor do texto */
  /* font-weight: bold;

} */

.btn-amarelo-entrar{
 background-color:#E8B80E

}

.btn-amarelo-entrar:hover {
  background-color:#E8DD0C;
  /* color: rgb(14, 12, 12);
  font-weight: bold; */

}

.btn-laranja-fechar {
  background-color: #FF6525;
  
}

.btn-laranja-fechar:hover {
  background-color:#F27649;
  
}



