<div class="container-fluid">
    <div class="container">
        <h1 class="text-center">ColaborArt</h1>
        <div class="row">
            <p class="text-justify">Nos unimos com o propósito de incentivar e apoiar causas sociais. Por meio do
                trabalho colaborativo, acreditamos que vidas e realidades são impactadas positivamente. Com esse
                propósito, a ColaborArt passou a existir.

            </p>
            <p class="text-justify">O selo da ColaborArt está presente em produtos que aquecem seu coração enquanto gera colaboração entre
                artistas brasileiros e projetos sociais de ONG's. Nosso desejo é criar pontes para a valorização do
                trabalho artístico, promover impacto social e te incluir como parte disso tudo. A criatividade, o
                carinho, a luta e o cuidado estão presentes em cada um dos itens aqui dispostos. Assim, a renda de seu
                produto será direcionada aos projetos das ONG's e aos artistas, apenas.
                Não estamos sozinhos nessa luta e queremos que você participe dela conosco.
                Arte em e ao progresso.</p>
        </div>

        <h2> Nossos rostinhos e nossas redes sociais:</h2>

        <div class="row ">

            <div class="card-group ">
                <div class="card m-3">
                    <img class="card-img-top" src="..." alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
                <div class="card m-3">
                    <img class="card-img-top" src="..." alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This card has supporting text below as a natural lead-in to additional
                            content.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
                <div class="card m-3">
                    <img class="card-img-top" src="..." alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This card has even longer content than the first to show that equal
                            height action.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row ">
            <div class="card-group ">
                <div class="card m-3">
                    <img class="card-img-top" src="..." alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
                <div class="card m-3">
                    <img class="card-img-top" src="..." alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This card has supporting text below as a natural lead-in to additional
                            content.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
                
            </div>

        </div>
    </div>

</div>