<div class="container mb-5 mt-5">
  <div class="row mb-5">
    <div class="col-md-12">
      <h1 class="text-center text-secondary">Apagar Categoria</h1>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-md-12">
      <h4 class="text-center text-danger">-Atencao!!! Você tem certeza de que deseja apagar esse Categoria? todas os produtos relacionadas a ele serão perdidas em conjunto a essa deleção - ATENCAO!!! </h4>
    </div>
  </div>
  <div class="row mb-4">
    <div class="col-md-12">
      <h5 class="text-center text-primary">Categoria: {{categoria.tipoProduto}}</h5>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 d-flex justify-content-center">
      <button class="btn btn-info mr-4" (click)='apagar()'>
        Sim
      </button>
      <button class="btn btn-danger " routerLink='/categoria'>
        Não
      </button>

    </div>
  </div>

</div>