<div class="container-fluid " id="fundo">
  <div class="row d-flex align-items-center">
    <div class="col-md-6">

      <div class="row d-flex justify-content-center">
        <div class="col-md-10">

          <h1 class="text-center mb-5 mt-2 text-warning titulo fs-24">Apagar Categoria</h1>

          <div class="row mb-3">
    <div class="col-md-12">
      <h4 class="text-center text-warning texto"> <p>ATENÇÃO!!!</p>  Você tem certeza de que deseja apagar essa Categoria? Todos os produtos relacionadas a ela serão perdidos em conjunto com essa deleção.</h4>
    </div>
  </div>
  <div class="row mb-4">
    <div class="col-md-12">
      <h5 class="text-center text-white">Categoria: {{categoria.tipoProduto}}</h5>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 d-flex justify-content-center">
      <button class="btn btn-amarelo-sim mr-4" (click)='apagar()'>
        Sim
      </button>
      <button class="btn btn-laranja-nao" routerLink='/categoria'>
        Não
      </button>

    </div>
  </div>

        </div>
      </div>

    </div>

    <div class="col-md-6" id="apagarCat"></div>

  </div>

</div>



<!-- <div id="apagarCat" class="m-0 px-0 py-5">
  <div class="row mb-5">
    <div class="col-md-6 justify-content-center" style="padding-top: 0px; padding-right: 100px; 
padding-bottom: 400px; padding-left: 100px;">
      <h1 class="text-center text-warning titulo">Apagar Categoria</h1>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-md-12">
      <h4 class="text-center text-warning texto">-Atencao!!! Você tem certeza de que deseja apagar esse Categoria? todas os produtos relacionadas a ele serão perdidas em conjunto a essa deleção - ATENCAO!!! </h4>
    </div>
  </div>
  <div class="row mb-4">
    <div class="col-md-12">
      <h5 class="text-center text-warning">Categoria: {{categoria.tipoProduto}}</h5>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 d-flex justify-content-center">
      <button class="btn btn-info mr-4" (click)='apagar()'>
        Sim
      </button>
      <button class="btn btn-danger " routerLink='/categoria'>
        Não
      </button>

    </div>
  </div>

</div> -->