		<footer>
        	<div class="footer-top" >
		        <div class="container">
		        	<div class="row">
		        		<div class="col-md-3 footer-about wow fadeInUp animated text-center" style="visibility: visible; animation-name: fadeInUp;">
		        			<img class="logo-footer fonte" src="assets/img/icone3footer.png" alt="logo-footer" data-at2x="assets/img/logo.png">
		        			<p class="texto !important">
		        				A ColaborArt foi realizada em parceria com a Generation Brasil e Fundação Bradesco. Nossos sinceros agradecimentos pela oportunidade.
		        			</p>
		        			<p><a href="#"></a></p>
	                    </div>
		        		<div class="col-md-4 offset-md-1 mt-3 footer-contact wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown;">
		        			<h3 class="texto" id="fale-conosco">Fale Conosco</h3>
		                	<p class="texto"> <a href="https://www.facebook.com/generationbrasil/" target="_blank" class="icoFacebook">
                            <i class="fa fa-facebook-square" aria-hidden="true"></i>
							</a>Facebook</p>
							
		                	<p><a href="https://www.instagram.com/generationbrasil/?hl=pt-br" target="_blank"
                                class="icoInstagram">
                                <i class="fab fa-instagram" aria-hidden="true"></i></a>Instagram</p>
		                	<p class="texto"><i class="fas fa-envelope fonte"></i> E-mail: <a href="mailto:hello@domain.com">colaborart@gmail.com</a></p>
	                    </div>
	                    <div class="col-md-4 footer-links wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
	                    	<div class="row d-flex align-items-center mt-3">
	                    		<div class="col">
	                    			<h3 class="texto">Nossos parceiros:</h3>
	                    		</div>
	                    	</div>
	                    	<div class="row">
	                    		<div class="col-md-6 texto">
	                    			<p><a class="scroll-link" href="https://conectamais.herokuapp.com/" target="_blank">Conecta+</a></p>
									<p><a href="https://ecompra.herokuapp.com/" target="_blank">Eco.mpra</a></p>
	                    			<p><a href="https://imei-project-generation.herokuapp.com/" target="_blank">I-mei</a></p>
									<p><a href="https://raiz-agro.herokuapp.com/" target="_blank">RaizAgro</a></p>
									<p><a href="https://rural-sabor.herokuapp.com/home" target="_blank">Rural Sabor</a></p>
	                    		</div>
							</div>
						</div>
		            </div>
		        </div>
	        </div>
	        <div class="footer-bottom">
	        	<div class="container">
	        		<div class="row">
	           			<div class="col-md-12 footer-copyright text-center titulo">
	                    	 © 2021 Copyright: <a href="colaborart.org.br">ColaborArt</a>
	                    </div>
	           		</div>
	        	</div>
	        </div>
        </footer>
