<div class="container-fluid p-0 m-0">


<div id="header" class="p-0">
</div>

<!-- <div class="container-fluid p-0"> -->

<div class="row d-flex justify-content-center mt-5 nodes mx-0">
  <div class="col-md-8">

    <h3 class="text-center mt-4 mb-4" style="font-family: 'Overpass', Sans-Serif;">
      <p>Nos unimos com o propósito de incentivar e apoiar causas sociais.</p>
      Por meio do trabalho colaborativo, acreditamos que vidas e
      realidades são impactadas positivamente.
    </h3>

  </div>
</div>

<!--Envolve os cards num container, centralizando todo o conteúdo-->
<!-- <div class="container"> -->
<!--5 colunas de texto abaixo do jumbotron-->
<!-- Quem Somos ColaborArt -->

<div class="row d-flex justify-content-center mt-5 nodes">
  <div class="col-md-12">
    <h3 class="text-center py-3">E assim a ColaborArt passou a existir...</h3>
  </div>
</div>


<div class="div-em-colunas text-justify fs-16 mt-5 container texto">
  <p>O selo da ColaborArt está presente em produtos que aquecem seu coração enquanto gera colaboração entre artistas
    brasileiros e projetos sociais de ONG's - começando pela cidade de Campinas. Nosso desejo é criar pontes para a
    valorização do trabalho artístico, promover impacto social e te incluir como parte disso.
  </p>

  <p>A criatividade, o carinho, a luta e o cuidado estão presentes em cada um dos itens aqui dispostos. Assim, a renda
    de seu produto será direcionada aos projetos das ONG's e aos artistas, apenas.

    Não estamos sozinhos nessa luta e queremos que você participe dela conosco. Arte em e ao progresso.</p>
</div>

<!--/Quem Somos ColaborArt -->
<hr id="artistas" class="mt-3 anchor">
<!--Artistas-->
<div class="mt-8">
  <h3 class="text-center mt-5 nodes py-3">Conheça @s Artistas ColaborArt:</h3>
</div>
<div id="campaign-projects" class="content mt-5">
  <div class="my d-flex flex-align-center">
    <img class="lazy lazy-fade flex-child-fixed px-4 mb-4-xs mb-4-sm loaded rounded-circle rounded-circle"
      src="../../assets/img/artistaEx.png" alt="artista-TESTE">
    <div>
      <h4 class="mt-0 font-weight-bold texto">Caroline Tenar</h4>
      <p class="text-justify fs-14 texto"> Caroline Tenar, nascida em Campinas/SP e formada em Publicidade, sempre
        gostou de ilustrar e por isso decidiu criar projetos que refletem o que acredita.</p>

    </div>
  </div>
</div>

<div id="campaign-projects" class="content mt-5">
  <div class="my d-flex flex-align-center">

    <img class="lazy lazy-fade flex-child-fixed px-4 mb-4-xs mb-4-sm loaded rounded-circle"
      src="../../assets/img/artistaEx2.png" alt="artista-TESTE">

    <div>
      <h4 class="mt-0 font-weight-bold texto">Carlos Maria Sabiá</h4>

      <p class="text-justify fs-14 texto"> Ou, para os mais chegados apenas "Sabiá", iniciou nas artes através do
        Graffitti, ainda antes da faculdade de Filosofia e foi nesse período que surgiu o interesse por Artes, Design e
        principalmente pelas Letras. Por isso, como designer, tem como especialidade caligrafia, lettering e tipografia.
      </p>
    </div>
  </div>
</div>

<div id="campaign-projects" class="content mt-5">
  <div class="my d-flex flex-align-center">

    <img class="lazy lazy-fade flex-child-fixed px-4 mb-4-xs mb-4-sm loaded rounded-circle"
      src="../../assets/img/artistaEx3.png" alt="artista-TESTE">
    <div>
      <h4 class="mt-0 font-weight-bold texto">IlustrAmores</h4>

      <p class="text-justify fs-14 texto"> Somos um estúdio composto por duas ilustradoras (Manuela e Antônia). Nos
        conhecemos na faculdade de design gráfico, lugar onde dali alguns semestres o estúdio nasceria. Gostamos de
        traduzir em arte o que o coração nos faz sentir.</p>
    </div>
  </div>

  <a href="#">
    <p class="fs-12 text-right texto">Veja mais artistas cadastradxs</p>
  </a>
</div>


<!--/Artistas-->

<hr id="ong" class="mt-3 anchor">
<!--ONGS-->
<div class="mt-8">
  <h3 class="text-center mt-5 nodes py-3">Conheça as ONGs e projetos envolvidxs:</h3>
</div>

<div id="campaign-projects" class="content mt-5">
  <div class="my d-flex flex-align-center">
    <a href="http://kamuri.org.br/kamuri/" target="_blank"><img
        class="lazy lazy-fade flex-child-fixed px-4 mb-4-xs mb-4-sm" src="../../assets/img/kamurilogo.jpg"
        alt="LOGO-TESTE"></a>
    <div>
      <a href="http://kamuri.org.br/kamuri/" target="_blank">
        <h4 class="mt-0 text-dark coloracao font-weight-bold texto" target="_blank"> KAMURI - Indigenismo, Ação
          Ambiental, Cultura e Educação</h4>
      </a>

      <p class="text-justify fs-14 texto"> "Criada em 2006, a Kamuri é uma associação sem fins lucrativos que realiza
        ações ambientais, de desenvolvimento social e econômico, culturais e educacionais. Atualmente, seu foco central
        é a educação escolar indígena bem como a formação de professores indígenas, promovendo o respeito e a
        valorização da diversidade e defesa das minorias."</p>
    </div>
  </div>
</div>

<div id="campaign-projects" class="content mt-5">
  <div class="my d-flex flex-align-center">
    <a href="https://www.facebook.com/projetotivefome/" target="_blank"> <img
        class="lazy lazy-fade flex-child-fixed px-4 mb-4-xs mb-4-sm" src="../../assets/img/tivefomelogo.jpg"
        alt="LOGO-TESTE"></a>
    <div>
      <a href="https://www.facebook.com/projetotivefome/" target="_blank">
        <h4 class="mt-0 text-dark coloracao font-weight-bold texto">Projeto Tive Fome</h4>
      </a>

      <p class="text-justify fs-14 texto"> "O Projeto Tive Fome, atuante desde 2013, é informal (isto é, feito por
        amigos), mas com todo o rigor e honestidade que se espera de qualquer projeto formal. O objetivo de promover
        ações de arrecadação de doações, de preparo e distribuição de alimentos e em outras frentes de atuação. Há quem
        doe alimentos, roupas, materiais de higiene pessoal e de limpeza geral."</p>
    </div>
  </div>
</div>

<div id="campaign-projects" class="content mt-5">
  <div class="my d-flex flex-align-center">

    <a href="https://www.facebook.com/CasaSemPreconceitos/" target="_blank"><img
        class="lazy lazy-fade flex-child-fixed px-4 mb-4-xs mb-4-sm" src="../../assets/img/casasempreconceitoslogo.jpg"
        alt="LOGO-TESTE"></a>
    <div>
      <a href="https://www.facebook.com/CasaSemPreconceitos/" target="_blank">
        <h4 class="mt-0 text-dark coloracao font-weight-bold texto">Casa Sem Preconceitos - Luta contra a LGBTQFOBIA
        </h4>
      </a>

      <p class="text-justify fs-14 texto"> "Projeto idealizado por Suzy Cristel e oportuniza a pessoas trans e travestis
        deixarem de ter as ruas como lar e vivenciarem a experiência de construir uma casa coletiva, que é o primeiro
        passo para reconstruírem seus sonhos e planos de vida."</p>
    </div>
  </div>

  <a href="#">
    <p class="fs-12 text-right texto">Veja mais ONGs cadastradas</p>
  </a>

</div>
<!--/ONGS -->
<hr id="produto" class="mt-5 anchor">
<!--PRODUTOS-->

<div class="mt-8 nodes">
  <h3 class="text-center m-0 py-3">Alguns dos produtos que geram colaboração para você conhecer:</h3>
</div>

<!-- teste -->

<div id="carouselExampleControls-1" class="carousel slide d-flex justify-content mt-5" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="row d-flex justify-content-center">

        <div class="col-md-3.5">
          <div class="card mr-6 bg-produto" style="width: 20rem">
            <img class="card-img-top-1" src="../../assets/img/8.png" alt="Imagem de capa do card" />
            <div class="card-body">
              <h5 id="fonte_titulo" class="card-title font-weight-bold texto">Camisa Arar Terras e Mentes</h5>
              <p id="fonte" class="card-text justify-content">
                Camiseta feita artesanalmente por Caroline Tenar com 100% de fibra natural de algodão sustentável.
                Tamanho: M
              </p>
              <div class="row mb-3 d-flex justify-content-center texto">
                <a href="#" class="btn btn-outline-success">Comprar</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3.5">
          <div class="card mr-6 bg-produto" style="width: 20rem">
            <img class="card-img-top-1" src="../../assets/img/4.png" alt="Imagem de capa do card" />
            <div class="card-body">
              <h5 id="fonte_titulo" class="card-title font-weight-bold texto">Capa Arte e Força</h5>
              <p id="fonte" class="card-text justify-content">
                Feita com algodão (92%) e elastano (8%). Produzidas artesanalmente pelo estúdio IlustrAmores. Tamanho:
                Único
              </p>
              <div class="row mb-3 d-flex justify-content-center texto">
                <a href="#" class="btn btn-outline-success">Comprar</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3.5">
          <div class="card bg-produto" style="width: 20rem">
            <img class="card-img-top-1" src="../../assets/img/5.png" alt="Imagem de capa do card" />
            <div class="card-body">
              <h5 id="fonte_titulo" class="card-title font-weight-bold texto">Quadro "Aracê"</h5>
              <p id="fonte" class="card-text justify-content">
                Em papel fotográfico e feito por Sabiá, "Aracê" é o nascer do dia
                com os pássaros, em tupi-guarani. Tamanho: Único
              </p>
              <div class="row mb-3 d-flex justify-content-center texto">
                <a href="#" class="btn btn-outline-success">Comprar</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="carousel-item">
      <div class="row d-flex justify-content-center">
        <div class="col-md-3.5">
          <div class="card mr-6 bg-produto" style="width: 20rem">
            <img class="card-img-top-1" src="../../assets/img/9.png" alt="Imagem de capa do card" />
            <div class="card-body">
              <h5 id="fonte_titulo" class="card-title font-weight-bold texto">Capa Preserve sua Natureza</h5>
              <p id="fonte" class="card-text">
                Feita com algodão (92%) e elastano (8%). Produzidas artesanalmente pelo artista Sabiá, com muito
                carinho. Tamanho: Único
              </p>
              <div class="row mb-3 d-flex justify-content-center texto">
                <a href="#" class="btn btn-outline-success">Comprar</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3.5">
          <div class="card mr-6 bg-produto" style="width: 20rem">
            <img class="card-img-top-1" src="../../assets/img/3.png" alt="Imagem de capa do card" />
            <div class="card-body">
              <h5 id="fonte_titulo" class="card-title font-weight-bold texto">Caneca Amor&Ação&Luta</h5>
              <p id="fonte" class="card-text justify-content">
                Arte feita em caneca de cerâmica e com capacidade para 325ml. Ideia e cuidados da artista Caroline Tenar. Tamanho: Único
              </p>
              <div class="row mb-3 d-flex justify-content-center texto">
                <a href="#" class="btn btn-outline-success">Comprar</a>
              </div>
            </div>
          </div>
        </div>


        <div class="col-md-3.5">
          <div class="card bg-produto" style="width: 20rem">
            <img class="card-img-top-1" src="../../assets/img/2.png" alt="Imagem de capa do card" />
            <div class="card-body">
              <h5 id="fonte_titulo" class="card-title font-weight-bold texto">Camisa Pulsar</h5>
              <p id="fonte" class="card-text justify-content">
                Feita artesanalmente com 100% de fibra natural de algodão sustentável. Idealizada e cuidada por Sabiá.
                Tamanho: P, M e GG
              </p>
              <div class="row mb-3 d-flex justify-content-center texto">
                <a href="#" class="btn btn-outline-success">Comprar</a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>
</div> 

<!-- <div id="carouselExampleControls-1" class="carousel slide d-flex justify-content mt-5" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="row d-flex justify-content-center">
        <div class="col-md-3.5" >
          <div class="card mr-8 bg-produto" style="width: 20rem">
            <img class="card-img-top-1" src="../../assets/img/8.png" alt="Imagem de capa do card" />
            <div class="card-body">
              <h5 id="fonte_titulo" class="card-title font-weight-bold texto">Camisa Arar Terras e Mentes</h5>
              <p id="fonte" class="card-text justify-content">
                Camiseta feita artesanalmente por Caroline Tenar com 100% de fibra natural de algodão sustentável. Tamanho: M
              </p>
              <div class="row mb-3 d-flex justify-content-center texto">
                <a href="#" class="btn btn-outline-success">Comprar</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3.5">
          <div class="card mr-8 bg-produto" style="width: 20rem">
            <img class="card-img-top-1 " src="../../assets/img/4.png" alt="Imagem de capa do card" />
            <div class="card-body">
              <h5 id="fonte_titulo" class="card-title font-weight-bold texto">Capa Arte e Força</h5>
              <p id="fonte" class="card-text justify-content">
                Feita com algodão (92%) e elastano (8%). Produzidas artesanalmente pelo estúdio IlustrAmores. Tamanho: Único
              </p>
              <div class="row mb-3 d-flex justify-content-center texto">
                <a href="#" class="btn btn-outline-success">Comprar</a>
              </div>
            </div>
          </div>  
        </div>
        <div class="col-md-3.5">
          <div class="card bg-produto" style="width: 20rem">
            <img class="card-img-top-1" src="../../assets/img/5.png" alt="Imagem de capa do card" />
            <div class="card-body">
              <h5 id="fonte_titulo" class="card-title font-weight-bold texto">Quadro "Aracê"</h5>
              <p id="fonte" class="card-text justify-content">
                Impresso em papel fotográfico de 290g e com todo carinho do mundo, "Aracê" é o momento favorito do dia dos passarinhos, em tupi-guarani. Tamanho: Único
              </p>
              <div class="row mb-3 d-flex justify-content-center texto">
                <a href="#" class="btn btn-outline-success">Comprar</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="carousel-item">
      <div class="row d-flex justify-content-center">
        <div class="col-md-3.5">
          <div class="card mr-10 bg-produto" style="width: 20rem">
            <img class="card-img-top-1" src="../../assets/img/9.png" alt="Imagem de capa do card" />
            <div class="card-body">
              <h5 id="fonte_titulo" class="card-title font-weight-bold texto">Capa Preserve sua Natureza</h5>
              <p id="fonte" class="card-text">
                Feita com algodão (92%) e elastano (8%). Produzidas artesanalmente pelo artista Sabiá, com muito carinho. Tamanho: Único
              </p>
              <div class="row mb-3 d-flex justify-content-center texto">
                <a href="#" class="btn btn-outline-success">Comprar</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3.5">
          <div class="card mr-10 bg-produto" style="width: 20rem">
            <img class="card-img-top-1" src="../../assets/img/3.png" alt="Imagem de capa do card" />
            <div class="card-body">
              <h5 id="fonte_titulo" class="card-title font-weight-bold texto">Caneca Amor&Ação&Luta</h5>
              <p id="fonte" class="card-text justify-content">
                Feita de cerâmica e com capacidade para 325ml. Arte e cuidados da artista Caroline Tenar. Tamanho: Único
              </p>
              <div class="row mb-3 d-flex justify-content-center texto">
                <a href="#" class="btn btn-outline-success">Comprar</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3.5">
          <div class="card bg-produto" style="width: 20rem">
            <img class="card-img-top-1" src="../../assets/img/2.png" alt="Imagem de capa do card" />
            <div class="card-body">
              <h5 id="fonte_titulo" class="card-title font-weight-bold texto">Camisa Pulsar</h5>
              <p id="fonte" class="card-text justify-content">
                Feita artesanalmente com 100% de fibra natural de algodão sustentável. Idealizada e cuidada por Sabiá. Tamanho: P, M e GG
              </p>
              <div class="row mb-3 d-flex justify-content-center texto">
                <a href="#" class="btn btn-outline-success">Comprar</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls-1" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Anterior</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls-1" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Próximo</span>
  </a>
</div>
</div> -->

<hr id="nos" class="mt-5">



<!--/PRODUTOS-->

<!-- Carrousel: "Nossos rostinhos" -->

<div class="mt-5">
  <h3 class="text-center mt-5 nodes py-3">Conheça os nossos rostinhos:</h3>
</div>

<div id="carouselExampleControls" class="carousel slide d-flex justify-content mt-5 mx-0" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="row d-flex justify-content-center">

        <div class="col-md-3.5">
          <div class="card mr-8 bg-card" style="width: 18rem">
            <img class="card-img-top rounded-circle" src="../../assets/img/alana.png" alt="Imagem de capa do card" />
            <div class="card-body">
              <h5 id="fonte_titulo" class="card-title">Alana Rodrigues</h5>
              <p id="fonte" class="card-text justify-content">
                Uma professora de português iniciando no mundo da programação.
                Entusiasta de paçocas e de ideias que possam impactar o mundo com o bem.
              </p>
              <div class="row mb-3 d-flex justify-content-center">
                <a href="https://www.linkedin.com/in/alana-rodt/" target="_blank">
                  <img class="tm-redesocial mr-4" src="../../assets/img/linkedin.png" alt="Logo Linkedin">
                </a>
                <a href="https://github.com/lanasoad" target="_blank">
                  <img class="tm-redesocial" src="../../assets/img/github.png" alt="Logo Github">
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3.5">
          <div class="card mr-8 bg-card" style="width: 18rem">
            <img class="card-img-top rounded-circle" src="../../assets/img/bruno.jpeg" alt="Imagem de capa do card" />
            <div class="card-body">
              <h5 id="fonte_titulo" class="card-title">Bruno Falango</h5>
              <p id="fonte" class="card-text justify-content">
                Gosto de jogar videogame e sou ficcionado em tecnologia há mais de 3 anos,
                e esse desejo veio por conta do videogame e dos cursos sobre informática que fiz ao longo dos anos.
              </p>
              <div class="row mb-3 d-flex justify-content-center">
                <a href="https://www.linkedin.com/in/bruno-augusto-falango-3433b0196/" target="_blank">
                  <img class="tm-redesocial mr-4" src="../../assets/img/linkedin.png" alt="Logo Linkedin">
                </a>
                <a href="https://github.com/BrunoFalango" target="_blank">
                  <img class="tm-redesocial" src="../../assets/img/github.png" alt="Logo Github">
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3.5">
          <div class="card bg-card" style="width: 18rem">
            <img class="card-img-top rounded-circle" src="../../assets/img/gustavo.jpg" alt="Imagem de capa do card" />
            <div class="card-body">
              <h5 id="fonte_titulo" class="card-title">Gustavo Broch</h5>
              <p id="fonte" class="card-text justify-content">
                Estudante de Análise e Desenvolvimento de Sistemas, apaixonado por animais,
                atividades físicas e games.
                Desbravando o mundo da tecnologia, em busca de aprender e compartilhar conhecimentos.
              </p>
              <div class="row mb-3 d-flex justify-content-center">
                <a href="https://www.linkedin.com/in/gustavo-catalane/" target="_blank">
                  <img class="tm-redesocial mr-4" src="../../assets/img/linkedin.png" alt="Logo Linkedin">
                </a>
                <a href="https://github.com/GustavoBroch" target="_blank">
                  <img class="tm-redesocial" src="../../assets/img/github.png" alt="Logo Github">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="row d-flex justify-content-center">
        <div class="col-md-3.5">
          <div class="card mr-10 bg-card" style="width: 18rem">
            <img class="card-img-top rounded-circle" src="../../assets/img/laíse.jpg" alt="Imagem de capa do card" />
            <div class="card-body">
              <h5 id="fonte_titulo" class="card-title">Laíse Galvão</h5>
              <p id="fonte" class="card-text">
                Advogada, Desenvolvedora Java Jr, apreciadora das artes, gosta de girassóis,
                encanta-se com novas culturas e apaixonada por doguinhos e gatinhos!!
              </p>
              <div class="row mb-3 d-flex justify-content-center">
                <a href="https://www.linkedin.com/in/laisegalvao/" target="_blank">
                  <img class="tm-redesocial mr-4" src="../../assets/img/linkedin.png" alt="Logo Linkedin">
                </a>
                <a href="https://github.com/laisegalvao/" target="_blank">
                  <img class="tm-redesocial" src="../../assets/img/github.png" alt="Logo Github">
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3.5">
          <div class="card bg-card" style="width: 18rem">
            <img class="card-img-top rounded-circle" src="../../assets/img/vitor.jpg" alt="Imagem de capa do card" />
            <div class="card-body">
              <h5 id="fonte_titulo" class="card-title">Vitor Borela</h5>
              <p id="fonte" class="card-text justify-content">
                Desenvolvedor Jr pela Genbr. Tão grande quanto ele é seu interesse por tecnologia, música eletrônica e
                soluções mobile - amante de café e apreciador de pores do sol, Colaborador desse projeto lindão.
              </p>
              <div class="row mb-3 d-flex justify-content-center">
                <a href="https://www.linkedin.com/in/vitorborela92/" target="_blank">
                  <img class="tm-redesocial mr-4" src="../../assets/img/linkedin.png" alt="Logo Linkedin">
                </a>
                <a href="https://github.com/neobaobr" target="_blank">
                  <img class="tm-redesocial" src="../../assets/img/github.png" alt="Logo Github">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Anterior</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Próximo</span>
  </a>
</div>
<!-- Carrousel -->

