h3{
  font-family: 'Permanent Marker', Cursive;
}

.anchor {
  display: block;
  height: 35px;
  /* same height as header/ */
  margin-top: -35px;
  /* /same height as header/ */
  visibility: hidden;
}



#header {
  background-image: url("../../assets/img/icone3.png");
  background-color: palegoldenrod;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  margin: 0;
  width: 100%;
  height: 950px;
  align-self: top;
}

.card {
  border: 0;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  background-image: none;
}

.carousel-control-next-icon:after {
  content: ">";
  font-size: 55px;
  color: black;
}

.carousel-control-prev-icon:after {
  content: "<";
  font-size: 55px;
  color: black;
}

.strong {
  font-weight: bold;
}

.fs-14 {
  font-size: 14pt;
}

.fs-16 {
  font-size: 16pt;
}

.div-em-colunas {
  -webkit-column-count: 2; /* Chrome, Safari, Opera */
  -moz-column-count: 2; /* Firefox */
  column-count: 2; /* padrão */
}

.mt-0 {
  margin-top: 0pc;
}

.mt-4 {
  margin-top: 4pc;
}

.mt-5 {
  margin-top: 5pc;
}

.content {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 1250px;
  padding-left: 42px;
  padding-right: 42px;
}

.my {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}

#campaign-projects img {
  max-width: 250px;
}

.px-4 {
  padding-left: 2rem !important;
  padding-right: 2rem !important;
}

.tm-redesocial {
  width: 28px;
  height: 28px;
}

html {
  scroll-behavior: smooth;
}

@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
#fonte {
  font-family: "VT323", monospace;
}

.coloracao:hover {
  color: skyblue !important;
}

.nodes {
    background-image: url("../../assets/img/testeTexto.png");
    
    background-repeat:no-repeat;
    background-position-y: center;
    background-position-x: center;
    background-size: cover;
}

.separador {
  background-image: url(https://chico-rei.imgix.net/images/site/seguranca/art_nodes.svg?auto=format&lossless=1);
  height: 3rem;
  background-repeat: repeat-x;
  background-position-y: center;
  margin: 3rem 0;
}

/* .teste {
    background-image: url("../../assets/img/teste2Texto.png");
    height: max-content;
    background-repeat:no-repeat;
    background-position-y: center;
    background-position-x: center;
    margin: 3rem 0;
    width: max-content;
} */
