<div id="header">

</div>

<div class="container-fluid p-0">
  <div class="jumbotron mt-3 mb-3">
    <h1 class="display-4">Hello, world!</h1>
    <p class="lead">
      This is a simple hero unit, a simple jumbotron-style component for calling
      extra attention to featured content or information.
    </p>
    <hr class="my-4" />
    <p>
      It uses utility classes for typography and spacing to space content out
      within the larger container.
    </p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </div>
  <!--Envolve os cards num container, centralizando todo o conteúdo-->
  <div class="container">
    <!--5 colunas de texto abaixo do jumbotron-->

    <!-- Quem Somos ColaborArt -->
    <h1 class="text-center">ColaborArt</h1>
        <div class="row">
            <p class="text-justify">Nos unimos com o propósito de incentivar e apoiar causas sociais. Por meio do
                trabalho colaborativo, acreditamos que vidas e realidades são impactadas positivamente. Com esse
                propósito, a ColaborArt passou a existir.

            </p>
            <p class="text-justify">O selo da ColaborArt está presente em produtos que aquecem seu coração enquanto gera colaboração entre
                artistas brasileiros e projetos sociais de ONG's. Nosso desejo é criar pontes para a valorização do
                trabalho artístico, promover impacto social e te incluir como parte disso tudo. A criatividade, o
                carinho, a luta e o cuidado estão presentes em cada um dos itens aqui dispostos. Assim, a renda de seu
                produto será direcionada aos projetos das ONG's e aos artistas, apenas.
                Não estamos sozinhos nessa luta e queremos que você participe dela conosco.
                Arte em e ao progresso.</p>
        </div>
    <!-- Quem Somos ColaborArt -->
        
    <!-- Carrousel -->
    <h2> Nossos rostinhos e nossas redes sociais:</h2>
    <div id="carouselExampleControls" class="carousel slide d-flex justify-content mt-5" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row d-flex justify-content-center">
            <div class="col-md-3.5">
              <div class="card" style="width: 18rem">
                <img class="card-img-top rounded-circle" src="https://i.imgur.com/jbSQ1dH.jpg"
                  alt="Imagem de capa do card" />
                <div class="card-body">
                  <h5 class="card-title">Título do card 1</h5>
                  <p class="card-text">
                    Um exemplo de texto rápido para construir o título do card e
                    fazer preencher o conteúdo do card.
                  </p>
                  <a href="#" class="btn btn-primary">Visitar</a>
                </div>
              </div>
            </div>

            <div class="col-md-3.5">
              <div class="card" style="width: 18rem">
                <img class="card-img-top rounded-circle" src="https://i.imgur.com/jbSQ1dH.jpg"
                  alt="Imagem de capa do card" />
                <div class="card-body">
                  <h5 class="card-title">Título do card 2</h5>
                  <p class="card-text">
                    Um exemplo de texto rápido para construir o título do card e
                    fazer preencher o conteúdo do card.
                  </p>
                  <a href="#" class="btn btn-primary">Visitar</a>
                </div>
              </div>
            </div>

            <div class="col-md-3.5">
              <div class="card" style="width: 18rem">
                <img class="card-img-top rounded-circle" src="https://i.imgur.com/jbSQ1dH.jpg"
                  alt="Imagem de capa do card" />
                <div class="card-body">
                  <h5 class="card-title">Título do card 3</h5>
                  <p class="card-text">
                    Um exemplo de texto rápido para construir o título do card e
                    fazer preencher o conteúdo do card.
                  </p>
                  <a href="#" class="btn btn-primary">Visitar</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row d-flex justify-content-center">
            <div class="col-md-3.5">
              <div class="card" style="width: 18rem">
                <img class="card-img-top rounded-circle" src="https://i.imgur.com/jbSQ1dH.jpg"
                  alt="Imagem de capa do card" />
                <div class="card-body">
                  <h5 class="card-title">Título do card 1</h5>
                  <p class="card-text">
                    Um exemplo de texto rápido para construir o título do card e
                    fazer preencher o conteúdo do card.
                  </p>
                  <a href="#" class="btn btn-primary">Visitar</a>
                </div>
              </div>
            </div>

            <div class="col-md-3.5">
              <div class="card" style="width: 18rem">
                <img class="card-img-top rounded-circle" src="https://i.imgur.com/jbSQ1dH.jpg"
                  alt="Imagem de capa do card" />
                <div class="card-body">
                  <h5 class="card-title">Título do card 2</h5>
                  <p class="card-text">
                    Um exemplo de texto rápido para construir o título do card e
                    fazer preencher o conteúdo do card.
                  </p>
                  <a href="#" class="btn btn-primary">Visitar</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Anterior</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Próximo</span>
      </a>
    </div>
    <!-- Carrousel -->

    <!-- Contato -->
    <div class="row d-flex justify-content-center">
      <div class="col-6">
        <h1 class="text-center">Fale conosco</h1>
        <form>

          <div class="form-group">
            <label for="exampleInputEmail1">Nome:</label>
            <input type="text" class="form-control" id="nome" aria-describedby="emailHelp" placeholder="Entre com nome">
          </div>

          <div class="form-group">
            <label for="exampleInputEmail1">Email:</label>
            <input type="email" class="form-control" id="email" aria-describedby="emailHelp"
              placeholder="Entre com email">
          </div>

          <div class="form-group">
            <label for="exampleFormControlSelect1"> Assunto:</label>
            <select class="form-control" id="assunto">
              <option>Escolha uma opção</option>
              <option>Elogio</option>
              <option>Dúvida</option>
              <option>Troca</option>
              <option>Pedido</option>
              <option>Reclamação</option>
              <option>Outros</option>
            </select>
          </div>

          <div class="form-group">
            <label for="exampleInputPassword1">Comentário:</label>
            <input type="text" class="form-control" id="comentario" placeholder="Entre com o comentário">
          </div>

          <button type="submit" class="btn btn-primary mb-2">Enviar</button>
        </form>
      </div>
    </div>
     <!-- Contato -->
  </div>

</div>