<div id="header">
</div>
<div class="separador"></div>
<!-- <div class="container-fluid p-0"> -->
  <div class="text-center mt-4 mb-4 nodes" style="padding-left: 150px; padding-right: 150px;">
    <h3 class="strong">
      <p >Nos unimos com o propósito de incentivar e apoiar causas sociais.</p>
     Por meio do trabalho colaborativo, acreditamos que vidas e 
      realidades são impactadas positivamente.
    </h3>
   </div>
    <!--<hr class="my-4" />
    <p>
      It uses utility classes for typography and spacing to space content out
      within the larger container.
    </p>
     <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a> -->
  
 
  <!--Envolve os cards num container, centralizando todo o conteúdo-->
  <!-- <div class="container"> -->
    <!--5 colunas de texto abaixo do jumbotron-->
    <!-- Quem Somos ColaborArt -->
    <div class="mt-8" style="padding-left: 150px; padding-right: 150px;">
      <h3 class="text-center strong mt-5 nodes">E assim a ColaborArt passou a existir...</h3>
    </div>
    <div class="div-em-colunas text-justify fs-16 mt-4 container">
      <p>O selo da ColaborArt está presente em produtos que aquecem seu coração enquanto gera colaboração entre artistas
        brasileiros e projetos sociais de ONG's - começando pela cidade de Campinas. Nosso desejo é criar pontes para a
        valorização do trabalho artístico, promover impacto social e te incluir como parte disso.
      </p>
      <p>A criatividade, o carinho, a luta e o cuidado estão presentes em cada um dos itens aqui dispostos. Assim, a renda de seu produto será direcionada aos projetos das ONG's e aos artistas, apenas.
      Não estamos sozinhos nessa luta e queremos que você participe dela conosco. Arte em e ao progresso.</p>
    </div>
    <!-- </div> -->
    <!-- <div class="row fs-16">
           
            <h3 class="text-center strong">E assim a ColaborArt passou a existir</h3>
            <p class="text-justify">O selo da ColaborArt está presente em produtos que aquecem seu coração enquanto gera colaboração entre
                artistas brasileiros e projetos sociais de ONG's. Nosso desejo é criar pontes para a valorização do
                trabalho artístico, promover impacto social e te incluir como parte disso tudo. A criatividade, o
                carinho, a luta e o cuidado estão presentes em cada um dos itens aqui dispostos. Assim, a renda de seu
                produto será direcionada aos projetos das ONG's e aos artistas, apenas.
                Não estamos sozinhos nessa luta e queremos que você participe dela conosco.
                Arte em e ao progresso.</p>
        </div> -->
    <!--/Quem Somos ColaborArt -->
    <hr id="artista" class="mt-5">
    <!--Artistas-->
    <div class="mt-8">
      <h3 class="text-center strong mt-5 nodes">Conheça @s Artistas ColaborArt:</h3>
    </div>
    <div id="campaign-projects" class="content mt-5">
      <div class="my d-flex flex-align-center">
        <img class="lazy lazy-fade flex-child-fixed px-4 mb-4-xs mb-4-sm loaded" src="../../assets/img/artistaEx.png"
          alt="artista-TESTE">
        <div>
          <h4 class="mt-0">Caroline Tenar</h4>
          <p class="text-justify fs-14"> Caroline Tenar, nascida em Campinas/SP e formada em Publicidade, sempre
            gostou de ilustrar e por isso decidiu criar projetos que refletem o que acredita.</p>
          <a class="text-accent" href="#">Veja os produtos dx artista</a>
        </div>
      </div>
    </div>
    <div id="campaign-projects" class="content mt-5">
      <div class="my d-flex flex-align-center">
        <img class="lazy lazy-fade flex-child-fixed px-4 mb-4-xs mb-4-sm loaded" src="../../assets/img/artistaEx2.png"
          alt="artista-TESTE">
        <div>
          <h4 class="mt-0">Carlos Maria Sabiá</h4>
          <p class="text-justify  fs-14 "> Ou, para os mais chegados apenas "Sabiá", iniciou nas artes através do
            Graffitti, ainda antes da faculdade de Filosofia e foi nesse período que surgiu o interesse por Artes,
            Design e principalmente pelas letras. Por isso, como designer, tem como especialidade caligrafia, lettering
            e tipografia.</p>
          <a class="text-accent" href="#">Veja os produtos dx artista</a>
        </div>
      </div>
    </div>
    <div id="campaign-projects" class="content mt-5">
      <div class="my d-flex flex-align-center">
        <img class="lazy lazy-fade flex-child-fixed px-4 mb-4-xs mb-4-sm loaded" src="../../assets/img/artistaEx3.png"
          alt="artista-TESTE">
        <div>
          <h4 class="mt-0">IlustrAmores</h4>
          <p class="text-justify  fs-14"> Somos um estúdio composto por duas ilustradoras (Manuela e Antônia). Nos
            conhecemos na faculdade de design gráfico, lugar onde dali alguns semestres o estúdio nasceria. Gostamos de
            traduzir em arte o que o coração nos faz sentir.</p>
          <a class="text-accent" href="#">Veja os produtos dx artista</a>
        </div>
      </div>
    </div>
    <!--/Artistas-->
    <hr id="ong" class="mt-5">
    <!--ONGS-->
    <div class="mt-8">
      <h3 class="text-center strong mt-5 nodes">Conheça as ONGs e projetos envolvidxs:</h3>
    </div>
    <div id="campaign-projects" class="content mt-5">
      <div class="my d-flex flex-align-center">
        <img class="lazy lazy-fade flex-child-fixed px-4 mb-4-xs mb-4-sm" src="../../assets/img/kamurilogo.jpg"
          alt="LOGO-TESTE">
        <div>
          <h4 class="mt-0">KAMURI - Indigenismo, Ação ambiental, Cultura e Educação</h4>
          <p class="text-justify fs-14"> "Criada em 2006, a Kamuri é uma associação sem fins lucrativos que
            realiza ações ambientais, de desenvolvimento social e econômico, culturais e educacionais. Atualmente, seu
            foco central é a educação escolar indígena bem como a formação de professores indígenas, promovendo o
            respeito e a valorização da diversidade e defesa das minorias."</p>
          <a class="text-accent" href="#">Veja os produtos desta colaboração</a>
        </div>
      </div>
    </div>
    <div id="campaign-projects" class="content mt-5">
      <div class="my d-flex flex-align-center">
        <img class="lazy lazy-fade flex-child-fixed px-4 mb-4-xs mb-4-sm" src="../../assets/img/tivefomelogo.jpg"
          alt="LOGO-TESTE">
        <div>
          <h4 class="mt-0">Projeto Tive Fome</h4>
          <p class="text-justify fs-14"> "O Projeto Tive Fome, atuante desde 2013, é informal (isto é, feito por
            amigos), mas com todo o rigor e honestidade que se espera de qualquer projeto formal. O objetivo de promover
            ações de arrecadação de doações, de preparo e distribuição de alimentos e em outras frentes de atuação. Há
            quem doe alimentos, roupas, materiais de higiene pessoal e de limpeza geral."</p>
          <a class="text-accent" href="#">Veja os produtos desta colaboração</a>
        </div>
      </div>
    </div>
    <div id="campaign-projects" class="content mt-5">
      <div class="my d-flex flex-align-center">
        <img class="lazy lazy-fade flex-child-fixed px-4 mb-4-xs mb-4-sm"
          src="../../assets/img/casasempreconceitoslogo.jpg" alt="LOGO-TESTE">
        <div>
          <h4 class="mt-0">Casa Sem Preconceitos - Luta contra a LGBTQFOBIA</h4>
          <p class="text-justify fs-14"> "Projeto idealizado por Suzy Cristel e oportuniza a pessoas trans e
            travestis deixarem de ter as ruas como lar e vivenciarem a experiência de construir uma casa coletiva, que é
            o primeiro passo para reconstruírem seus sonhos e planos de vida."</p>
          <a class="text-accent" href="#">Veja os produtos desta colaboração</a>
        </div>
      </div>
    </div>
    <!--/ONGS-->
    <hr id="produto" class="mt-5">
    <!--PRODUTOS-->
    <div class="mt-8 nodes">
      <h3 class="text-center strong m-0">Alguns dos produtos que geram colaboração para você conhecer:</h3>
    </div>
    <!--/PRODUTOS-->
    <hr id="nos" class="mt-5">

    
    <!-- Carrousel -->
    
    <div class="mt-8">
      <h3 class="text-center strong mt-5 nodes">Conheça os nossos rostinhos:</h3>
    </div>
    <div id="carouselExampleControls" class="carousel slide d-flex justify-content mt-5" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row d-flex justify-content-center">
            <div class="col-md-3.5">
              <div class="card mr-5" style="width: 14rem">
                <img class="card-img-top rounded-circle" src="../../assets/img/alana.png"
                  alt="Imagem de capa do card" />
                <div class="card-body">
                  <h5 class="card-title">Alana Rodrigues</h5>
                  <p class="card-text">
                    Um exemplo de texto rápido para construir o título do card e
                    fazer preencher o conteúdo do card.
                  </p>
                  <div class="row mb-3 d-flex justify-content-center">
                    <a href="https://www.linkedin.com/in/alana-rodt/" target="_blank">
                      <img class="tm-redesocial mr-4" src="../../assets/img/linkedin.png" alt="Logo Linkedin">
                    </a>
                    <a href="https://github.com/lanasoad" target="_blank">
                      <img class="tm-redesocial" src="../../assets/img/github.png" alt="Logo Github">
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3.5">
              <div class="card mr-5" style="width: 14rem">
                <img class="card-img-top rounded-circle" src="../../assets/img/bruno.jpeg"
                  alt="Imagem de capa do card" />
                <div class="card-body">
                  <h5 class="card-title">Bruno Augusto</h5>
                  <p class="card-text">
                    Um exemplo de texto rápido para construir o título do card e
                    fazer preencher o conteúdo do card.
                  </p>
                  <div class="row mb-3 d-flex justify-content-center">
                    <a href="https://www.linkedin.com/in/bruno-augusto-falango-3433b0196/" target="_blank">
                      <img class="tm-redesocial mr-4" src="../../assets/img/linkedin.png" alt="Logo Linkedin">
                    </a>
                    <a href="https://github.com/BrunoFalango" target="_blank">
                      <img class="tm-redesocial" src="../../assets/img/github.png" alt="Logo Github">
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3.5">
              <div class="card" style="width: 14rem">
                <img class="card-img-top rounded-circle" src="../../assets/img/gustavo.jpg"
                  alt="Imagem de capa do card" />
                <div class="card-body">
                  <h5 class="card-title">Gustavo Broch</h5>
                  <p class="card-text">
                    Um exemplo de texto rápido para construir o título do card e
                    fazer preencher o conteúdo do card.
                  </p>
                  <div class="row mb-3 d-flex justify-content-center">
                    <a href="https://www.linkedin.com/in/gustavo-catalane/" target="_blank">
                      <img class="tm-redesocial mr-4" src="../../assets/img/linkedin.png" alt="Logo Linkedin">
                    </a>
                    <a href="https://github.com/GustavoBroch" target="_blank">
                      <img class="tm-redesocial" src="../../assets/img/github.png" alt="Logo Github">
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row d-flex justify-content-center">
            <div class="col-md-3.5">
              <div class="card mr-5" style="width: 14rem">
                <img class="card-img-top rounded-circle" src="../../assets/img/laíse.jpg"
                  alt="Imagem de capa do card" />
                <div class="card-body">
                  <h5 class="card-title">Laíse Galvão</h5>
                  <p class="card-text">
                    Um exemplo de texto rápido para construir o título do card e
                    fazer preencher o conteúdo do card.
                  </p>
                  <div class="row mb-3 d-flex justify-content-center">
                    <a href="https://www.linkedin.com/in/laisegalvao/" target="_blank">
                      <img class="tm-redesocial mr-4" src="../../assets/img/linkedin.png" alt="Logo Linkedin">
                    </a>
                    <a href="https://github.com/laisegalvao/" target="_blank">
                      <img class="tm-redesocial" src="../../assets/img/github.png" alt="Logo Github">
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3.5">
              <div class="card" style="width: 14rem">
                <img class="card-img-top rounded-circle" src="../../assets/img/vitor.jpg"
                  alt="Imagem de capa do card" />
                <div class="card-body">
                  <h5 class="card-title">Vitor Borela</h5>
                  <p class="card-text">
                    Um exemplo de texto rápido para construir o título do card e
                    fazer preencher o conteúdo do card.
                  </p>
                  <div class="row mb-3 d-flex justify-content-center">
                    <a href="https://www.linkedin.com/in/vitorborela92/" target="_blank">
                      <img class="tm-redesocial mr-4" src="../../assets/img/linkedin.png" alt="Logo Linkedin">
                    </a>
                    <a href="https://github.com/neobaobr" target="_blank">
                      <img class="tm-redesocial" src="../../assets/img/github.png" alt="Logo Github">
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Anterior</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Próximo</span>
      </a>
    </div>
    <!-- Carrousel -->

    <!-- Contato -->
    <!-- <div class="row d-flex justify-content-center">
      <div class="col-6">
        <h1 class="text-center">Fale conosco</h1>
        <form>
          <div class="form-group">
            <label for="exampleInputEmail1">Nome:</label>
            <input type="text" class="form-control" id="nome" aria-describedby="emailHelp" placeholder="Entre com nome">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Email:</label>
            <input type="email" class="form-control" id="email" aria-describedby="emailHelp"
              placeholder="Entre com email">
          </div>
          <div class="form-group">
            <label for="exampleFormControlSelect1"> Assunto:</label>
            <select class="form-control" id="assunto">
              <option>Escolha uma opção</option>
              <option>Elogio</option>
              <option>Dúvida</option>
              <option>Troca</option>
              <option>Pedido</option>
              <option>Reclamação</option>
              <option>Outros</option>
            </select>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Comentário:</label>
            <input type="text" class="form-control" id="comentario" placeholder="Entre com o comentário">
          </div>
          <button type="submit" class="btn btn-primary mb-2">Enviar</button>
        </form>
      </div>
    </div> -->
    <!-- Contato -->
 
<!-- </div> -->